# Estatistica de Campeões de League of Legends

Trabalho 1 de Mineração de Dados para a FATEC de Itapira - Curso de Desenvolvimento de Sistemas Multiplataforma.
Desenvolvido por: Gabriel Almir Pereira Ribeiro.

In [1]:
import pandas as pd
df = pd.read_csv("champions.csv", sep=";", dtype={"jogos_jogados": str, "ouro": str, "taxa_vitoria": str, "taxa_escolha": str, "taxa_banimento": str})

Primeiro vamos realizar a análise da estrutura dos dados atualmente.

In [2]:
print("Primeiras linhas do dataset")
print(df.head())

Primeiras linhas do dataset
           nome jogos_jogados     ama taxa_vitoria taxa_escolha  \
0  Miss Fortune        18.164  2.19:1       48.79%       27.64%
1           Lux        17.346  2.37:1       48.58%        26.4%
2          Kayn        12.893  1.82:1       46.89%       19.62%
3       Caitlyn        12.526  1.97:1       47.28%       19.06%
4       Morgana        12.418  2.50:1       49.65%        18.9%

  taxa_banimento      cs    ouro region  tier
0         13.87%  154.79  12.410     br  iron
1         38.62%   91.24  10.420     br  iron
2          17.1%  156.88  11.846     br  iron
3         37.02%  160.68  11.902     br  iron
4         32.35%   66.49   9.927     br  iron

In [3]:
print("Formato do dataset (linhas, colunas)")
print(df.shape)

Formato do dataset (linhas, colunas)
(1712, 10)

In [4]:
print("Resumo estatísticos")
print(df.describe(include='all'))

Resumo estatísticos
                nome jogos_jogados     ama taxa_vitoria taxa_escolha  \
count           1710          1705    1712         1712         1705
unique           171          1465     250          868          920
top     Miss Fortune            11  2.30:1          50%        3.59%
freq              10             8      24           20            8
mean             NaN           NaN     NaN          NaN          NaN
std              NaN           NaN     NaN          NaN          NaN
min              NaN           NaN     NaN          NaN          NaN
25%              NaN           NaN     NaN          NaN          NaN
50%              NaN           NaN     NaN          NaN          NaN
75%              NaN           NaN     NaN          NaN          NaN
max              NaN           NaN     NaN          NaN          NaN

       taxa_banimento           cs    ouro region      tier
count            1712  1705.000000    1705   1712      1712
unique            804          NaN    1411      1        10
top             0.28%          NaN  12.200     br  platinum
freq               15          NaN       5   1712       172
mean              NaN   155.497384     NaN    NaN       NaN
std               NaN    55.659304     NaN    NaN       NaN
min               NaN    11.840000     NaN    NaN       NaN
25%               NaN   145.150000     NaN    NaN       NaN
50%               NaN   173.640000     NaN    NaN       NaN
75%               NaN   191.930000     NaN    NaN       NaN
max               NaN   242.520000     NaN    NaN       NaN

In [5]:
print("\nVerificação de valores ausentes:")
print(df.isnull().sum())

Verificação de valores ausentes:
nome              2
jogos_jogados     7
ama               0
taxa_vitoria      0
taxa_escolha      7
taxa_banimento    0
cs                7
ouro              7
region            0
tier              0
dtype: int64

In [6]:
print("\nVerificação de registros duplicados:")
print(df.duplicated().sum())

Verificação de registros duplicados:
0

# Limpeza de Dados

Vamos realizar as principais limpezas dos dados.

In [7]:
print(df.dtypes)  # conferindo os tipos
print(df.head())

nome               object
jogos_jogados      object
ama                object
taxa_vitoria       object
taxa_escolha       object
taxa_banimento     object
cs                float64
ouro               object
region             object
tier               object
dtype: object
           nome jogos_jogados     ama taxa_vitoria taxa_escolha  \
0  Miss Fortune        18.164  2.19:1       48.79%       27.64%
1           Lux        17.346  2.37:1       48.58%        26.4%
2          Kayn        12.893  1.82:1       46.89%       19.62%
3       Caitlyn        12.526  1.97:1       47.28%       19.06%
4       Morgana        12.418  2.50:1       49.65%        18.9%

  taxa_banimento      cs    ouro region  tier
0         13.87%  154.79  12.410     br  iron
1         38.62%   91.24  10.420     br  iron
2          17.1%  156.88  11.846     br  iron
3         37.02%  160.68  11.902     br  iron
4         32.35%   66.49   9.927     br  iron

In [8]:
df['jogos_jogados'] = pd.to_numeric(df['jogos_jogados'].str.replace('.', ''), errors='coerce')
df['ouro'] = pd.to_numeric(df['ouro'].str.replace('.', ''), errors='coerce')
df['taxa_vitoria'] = pd.to_numeric(df['taxa_vitoria'].str.replace('%', ''), errors='coerce')
df['taxa_escolha'] = pd.to_numeric(df['taxa_escolha'].str.replace('%', ''), errors='coerce')
df['taxa_banimento'] = pd.to_numeric(df['taxa_banimento'].str.replace('%', ''), errors='coerce')

In [9]:
# Remover duplicados, não necessário nesse caso
df = df.drop_duplicates()

# preencher valores nulos com a mediana
df = df.fillna(df.median(numeric_only=True))

# Análise de Limpeza

In [10]:
print("Dataset após limpeza:")
print(df.head())

print("Resumo estatístico após limpeza:")
print(df.describe())

Dataset após limpeza:
           nome  jogos_jogados     ama  taxa_vitoria  taxa_escolha  \
0  Miss Fortune        18164.0  2.19:1         48.79         27.64
1           Lux        17346.0  2.37:1         48.58         26.40
2          Kayn        12893.0  1.82:1         46.89         19.62
3       Caitlyn        12526.0  1.97:1         47.28         19.06
4       Morgana        12418.0  2.50:1         49.65         18.90

   taxa_banimento      cs     ouro region  tier
0           13.87  154.79  12410.0     br  iron
1           38.62   91.24  10420.0     br  iron
2           17.10  156.88  11846.0     br  iron
3           37.02  160.68  11902.0     br  iron
4           32.35   66.49   9927.0     br  iron
Resumo estatístico após limpeza:
       jogos_jogados  taxa_vitoria  taxa_escolha  taxa_banimento           cs  \
count    1712.000000   1712.000000   1712.000000     1712.000000  1712.000000
mean     5988.477220     49.341688      5.917640        5.158896   155.571565
std      7544.807708      6.063953      4.271441        8.199543    55.557403
min         1.000000      0.000000      0.250000        0.010000    11.840000
25%       821.750000     47.987500      2.820000        0.640000   145.197500
50%      3432.000000     49.975000      4.600000        1.780000   173.640000
75%      8163.750000     51.642500      8.042500        5.792500   191.850000
max     52102.000000     80.000000     27.640000       58.290000   242.520000

               ouro
count   1712.000000
mean   11541.338201
std     1469.797219
min     5676.000000
25%    10935.750000
50%    11926.000000
75%    12578.000000
max    14073.000000

In [11]:
print("Média da taxa de vitória por região/tier:")
print(df.groupby(['region','tier'])['taxa_vitoria'].mean())

Média da taxa de vitória por região/tier:
region  tier
br      bronze         48.717135
        challenger     46.822807
        diamond        50.484737
        emerald        50.444302
        gold           50.032047
        grandmaster    49.507076
        iron           46.470058
        master         51.405146
        platinum       50.202849
        silver         49.319240
Name: taxa_vitoria, dtype: float64

In [12]:
# Calculando a média da taxa de vitória por campeão e elo
performance_por_elo = df.groupby(['nome', 'tier'])['taxa_vitoria'].mean().unstack()

# Selecionando alguns campeões populares para visualização
campeoes_populares = ['Miss Fortune', 'Lux', 'Caitlyn', 'Morgana', 'Kayn', 'Ahri']
performance_populares = performance_por_elo.loc[campeoes_populares]

print(performance_populares)

# Calculando a tendência de vitória por elo para cada campeão popular
tendencia_populares = performance_populares.apply(lambda x: x.diff().fillna(0), axis=1)

print("Tendência de vitória por elo para campeões populares:")
print(tendencia_populares)

tier          bronze  challenger  diamond  emerald   gold  grandmaster   iron  \
nome
Miss Fortune   51.47       58.33    51.01    51.44  51.79        45.16  48.79
Lux            51.31       51.43    51.42    51.42  51.54        51.79  48.58
Caitlyn        49.00       67.74    49.37    50.36  49.96        52.24  47.28
Morgana        51.96       52.94    49.69    52.77  52.71        55.07  49.65
Kayn           49.93       56.07    49.19    50.77  50.50        41.88  46.89
Ahri           48.67       50.00    50.34    49.78  49.99        51.15  46.56

tier          master  platinum  silver
nome
Miss Fortune   50.46     50.81   51.48
Lux            49.21     51.69   51.61
Caitlyn        50.51     50.06   49.35
Morgana        52.32     52.52   52.91
Kayn           50.28     50.08   49.92
Ahri           53.43     49.88   48.65
Tendência de vitória por elo para campeões populares:
tier          bronze  challenger  diamond  emerald  gold  grandmaster  iron  \
nome
Miss Fortune     0.0        6.86    -7.32     0.43  0.35        -6.63  3.63
Lux              0.0        0.12    -0.01     0.00  0.12         0.25 -3.21
Caitlyn          0.0       18.74   -18.37     0.99 -0.40         2.28 -4.96
Morgana          0.0        0.98    -3.25     3.08 -0.06         2.36 -5.42
Kayn             0.0        6.14    -6.88     1.58 -0.27        -8.62  5.01
Ahri             0.0        1.33     0.34    -0.56  0.21         1.16 -4.59

tier          master  platinum  silver
nome
Miss Fortune    1.67      0.35    0.67
Lux             0.63      2.48   -0.08
Caitlyn         3.23     -0.45   -0.71
Morgana         2.67      0.20    0.39
Kayn            3.39     -0.20   -0.16
Ahri            6.87     -3.55   -1.23

In [13]:
import numpy as np

# Remover outliers
df_sem_outliers = df[(np.abs(df['taxa_vitoria'] - df['taxa_vitoria'].mean()) <= (3 * df['taxa_vitoria'].std())) &
                         (np.abs(df['taxa_escolha'] - df['taxa_escolha'].mean()) <= (3 * df['taxa_escolha'].std())) &
                         (np.abs(df['taxa_banimento'] - df['taxa_banimento'].mean()) <= (3 * df['taxa_banimento'].std())) &
                         (np.abs(df['ouro'] - df['ouro'].mean()) <= (3 * df['ouro'].std()))]

print("Formato do dataset após remoção de outliers:", df_sem_outliers.shape)

# Análise por elo (tier) após remoção de outliers
analise_por_elo = df_sem_outliers.groupby('tier').agg({
    'taxa_vitoria': ['mean', 'std'],
    'taxa_escolha': ['mean', 'std'],
    'taxa_banimento': ['mean', 'std'],
    'ouro': ['mean', 'std']
})

print("Análise por elo após remoção de outliers:")
print(analise_por_elo)

Formato do dataset após remoção de outliers: (1607, 10)
Análise por elo após remoção de outliers:
            taxa_vitoria           taxa_escolha           taxa_banimento  \
                    mean       std         mean       std           mean
tier
bronze         48.627531  2.456890     5.171173  3.597012       3.650679
challenger     50.302071  7.258369     6.810571  3.941232       4.068000
diamond        50.484157  1.930462     5.529277  3.363376       4.679277
emerald        50.776084  1.794200     5.588675  3.521923       4.563494
gold           50.032317  2.083944     5.462561  3.657719       3.935915
grandmaster    49.264870  5.734719     5.633571  3.689168       3.769286
iron           46.375370  2.498030     5.135864  3.802721       3.630679
master         51.384727  2.240956     5.485758  3.226263       4.458485
platinum       50.520848  1.965824     5.598545  3.721481       4.155212
silver         49.267055  2.217568     5.339755  3.637381       3.733436

                               ouro
                  std          mean          std
tier
bronze       5.244705  11721.969136  1319.437384
challenger   5.932776  11140.828571  1613.391013
diamond      6.180205  11530.686747  1436.209704
emerald      6.245414  11753.909639  1483.049107
gold         5.502603  11932.908537  1440.223005
grandmaster  5.002800  10996.253247  1492.251637
iron         5.213878  11049.203704  1130.880145
master       5.907431  11326.296970  1434.071686
platinum     5.675746  11885.739394  1468.209075
silver       5.304204  11913.030675  1396.511683

In [14]:
# Analisar campões com maior taxa de vitória
df_top_campeoes = df_sem_outliers.sort_values(by='taxa_vitoria', ascending=False)

print("Top 10 campeões com maior taxa de vitória após remoção de outliers:")
print(df_top_campeoes[['nome', 'taxa_vitoria']].head(10))

# Analise de campeões por elo
melhores_por_elo = df_sem_outliers.loc[df_sem_outliers.groupby('tier')['taxa_vitoria'].idxmax()]

print("Melhores campeões por elo após remoção de outliers:")
print(melhores_por_elo[['tier', 'nome', 'taxa_vitoria']])

Top 10 campeões com maior taxa de vitória após remoção de outliers:
              nome  taxa_vitoria
1703           Vex         66.67
1618         Quinn         66.67
1509  Twisted Fate         66.04
1639         Braum         64.71
1673          Olaf         64.29
1674      Bel'Veth         64.29
1601       Kha'Zix         61.40
1667       Skarner         61.11
1657         Brand         60.87
1443       Camille         60.47
Melhores campeões por elo após remoção de outliers:
             tier          nome  taxa_vitoria
286        bronze        Singed         53.77
1618   challenger         Quinn         66.67
1167      diamond        Kennen         55.42
994       emerald        Rammus         55.39
576          gold         Briar         54.79
1509  grandmaster  Twisted Fate         66.04
120          iron        Singed         52.27
1297       master        Zilean         57.06
813      platinum       Kog'Maw         54.99
403        silver         Briar         54.54

## Outras preocupações

Porém, taxa de vitória em si, não quer dizer muito, pois ele pode ter sido pouco jogado, então precisa ser correlacionado com a taxa de escolha.

In [15]:
media_de_partidas_por_campeao = df_sem_outliers['jogos_jogados'].mean()
df['relacao_vitorias_partidas'] = df['taxa_vitoria'] / media_de_partidas_por_campeao

# ordemar por essa relação
df = df.sort_values(by='relacao_vitorias_partidas', ascending=False)

print("Relação entre taxa de vitória e média de partidas jogadas por campeão:")
print(df[['nome', 'taxa_vitoria', 'jogos_jogados', 'relacao_vitorias_partidas']].head(10))

# melhores campeões por elo
melhores_por_elo = df.loc[df.groupby('tier')['relacao_vitorias_partidas'].idxmax()]

print("Melhores campeões por elo considerando relação entre taxa de vitória e média de partidas jogadas:")
print(melhores_por_elo[['tier', 'nome', 'relacao_vitorias_partidas']])

Relação entre taxa de vitória e média de partidas jogadas por campeão:
                nome  taxa_vitoria  jogos_jogados  relacao_vitorias_partidas
1689       Seraphine         80.00           10.0                   0.014175
1701         Hecarim         80.00            5.0                   0.014175
1537             Vex         80.00            5.0                   0.014175
1702           Urgot         75.00            4.0                   0.013289
1539            Fizz         75.00            4.0                   0.013289
1538          Illaoi         75.00            4.0                   0.013289
1535  Nunu & Willump         71.43            7.0                   0.012657
1688        Malphite         70.00           10.0                   0.012403
1644         Caitlyn         67.74           31.0                   0.012003
1703             Vex         66.67            3.0                   0.011813
Melhores campeões por elo considerando relação entre taxa de vitória e média de partidas jogadas:
             tier       nome  relacao_vitorias_partidas
286        bronze     Singed                   0.009528
1689   challenger  Seraphine                   0.014175
1167      diamond     Kennen                   0.009820
994       emerald     Rammus                   0.009815
576          gold      Briar                   0.009708
1537  grandmaster        Vex                   0.014175
120          iron     Singed                   0.009262
1297       master     Zilean                   0.010111
813      platinum    Kog'Maw                   0.009744
403        silver      Briar                   0.009664

# Outras considerações

Agora me interessa conhecer o desempenho dos meus principais campeões para avaliar quais focar nessa temporada.

In [ ]:
campeoes_populares = df[df['taxa_escolha'] > 5]  # campeões com mais de 5% de taxa de escolha
campeoes_favoritos = ['Riven', 'Fiora', 'Irelia', 'Shen']
campeoes_favoritos_df = campeoes_populares[campeoes_populares['nome'].isin(campeoes_favoritos)]

campeoes_favoritos_df = campeoes_favoritos_df[campeoes_favoritos_df['tier'].isin(['silver', 'gold', 'platinum', 'emerald', 'diamond'])]

campeoes_favoritos_df['relacao_vitorias_partidas'] = campeoes_favoritos_df['taxa_vitoria'] / media_de_partidas_por_campeao
campeoes_favoritos_por_elo = campeoes_favoritos_df.loc[campeoes_favoritos_df.groupby('tier')['relacao_vitorias_partidas'].idxmax()]

elos = {'iron': 1, 'bronze': 2, 'silver': 3, 'gold': 4, 'platinum': 5, 'emerald': 6, 'diamond': 7, 'master': 8, 'grandmaster': 9, 'challenger': 10}
campeoes_favoritos_df['elo_rank'] = campeoes_favoritos_df['tier'].map(elos)

campeoes_favoritos_df = campeoes_favoritos_df.sort_values(by='elo_rank', ascending=True)
campeoes_favoritos_df

,nome,jogos_jogados,ama,taxa_vitoria,taxa_escolha,taxa_banimento,cs,ouro,region,tier,relacao_vitorias_partidas,elo_rank
374,Irelia,22158.0,1.61:1,50.23,9.54,18.75,217.27,13729.0,br,silver,0.008900,3
406,Fiora,13926.0,1.48:1,47.24,5.99,3.60,183.95,12502.0,br,silver,0.008371,3
570,Fiora,15303.0,1.47:1,48.56,6.35,4.15,191.06,12595.0,br,gold,0.008604,4
544,Irelia,22671.0,1.57:1,50.32,9.41,20.69,222.53,13737.0,br,gold,0.008916,4
718,Irelia,15138.0,1.56:1,51.32,8.91,22.40,226.39,13674.0,br,platinum,0.009093,5
741,Fiora,10482.0,1.44:1,49.16,6.17,5.14,195.39,12567.0,br,platinum,0.008711,5
909,Fiora,6664.0,1.46:1,50.39,6.36,7.27,199.04,12579.0,br,emerald,0.008929,6
926,Riven,5732.0,1.89:1,52.25,5.47,2.83,191.93,12431.0,br,emerald,0.009258,6
889,Irelia,9310.0,1.52:1,50.73,8.88,22.05,225.19,13446.0,br,emerald,0.008989,6
1067,Irelia,3382.0,1.50:1,51.06,8.05,18.66,221.94,13008.0,br,diamond,0.009047,7
1081,Fiora,2787.0,1.52:1,51.81,6.64,10.74,200.43,12601.0,br,diamond,0.009180,7

In [17]:
print("Desempenho dos campeões favoritos com mais de 5% de taxa de escolha:")
print(campeoes_favoritos_df[['nome', 'taxa_vitoria', 'taxa_escolha', 'jogos_jogados']])

# relação de desempenho dos campeões favoritos por elo
campeoes_favoritos_df['relacao_vitorias_partidas'] = campeoes_favoritos_df['taxa_vitoria'] / media_de_partidas_por_campeao
campeoes_favoritos_por_elo = campeoes_favoritos_df.loc[campeoes_favoritos_df.groupby('tier')['relacao_vitorias_partidas'].idxmax()]

# ordenar pelo elo
elos = {'iron': 1, 'bronze': 2, 'silver': 3, 'gold': 4, 'platinum': 5, 'emerald': 6, 'diamond': 7, 'master': 8, 'grandmaster': 9, 'challenger': 10}
campeoes_favoritos_por_elo['elo_rank'] = campeoes_favoritos_por_elo['tier'].map(elos)

campeoes_favoritos_por_elo = campeoes_favoritos_por_elo.sort_values(by='elo_rank')

print("Melhores campeões favoritos por elo considerando relação entre taxa de vitória e média de partidas jogadas:")
print(campeoes_favoritos_por_elo[['tier', 'nome', 'taxa_vitoria', 'taxa_escolha', 'jogos_jogados']])

Desempenho dos campeões favoritos com mais de 5% de taxa de escolha:
        nome  taxa_vitoria  taxa_escolha  jogos_jogados
1452   Fiora         57.63          5.02          118.0
1249   Fiora         53.54          6.98         1425.0
1266   Riven         52.77          5.93         1211.0
1229   Akali         52.50          8.63         1762.0
926    Riven         52.25          5.47         5732.0
1081   Fiora         51.81          6.64         2787.0
1240  Irelia         51.53          7.84         1599.0
1548   Riven         51.49         15.41          134.0
718   Irelia         51.32          8.91        15138.0
1067  Irelia         51.06          8.05         3382.0
727    Akali         51.00          8.09        13756.0
555    Akali         50.96          8.04        19386.0
889   Irelia         50.73          8.88         9310.0
1386   Riven         50.55         11.62          273.0
1062   Akali         50.46          8.62         3619.0
909    Fiora         50.39          6.36         6664.0
895    Akali         50.35          8.09         8487.0
544   Irelia         50.32          9.41        22671.0
374   Irelia         50.23          9.54        22158.0
380    Akali         49.43          8.39        19490.0
741    Fiora         49.16          6.17        10482.0
201   Irelia         48.80          9.76        13986.0
1408   Akali         48.77          8.64          203.0
205    Akali         48.57          8.75        12544.0
570    Fiora         48.56          6.35        15303.0
406    Fiora         47.24          5.99        13926.0
1589   Akali         46.38          7.96           69.0
236    Fiora         46.23          5.61         8041.0
34     Akali         46.11          8.92         5864.0
31    Irelia         45.88          9.34         6140.0
68     Fiora         43.59          5.38         3533.0
1446  Irelia         43.55          5.28          124.0
Melhores campeões favoritos por elo considerando relação entre taxa de vitória e média de partidas jogadas:
             tier    nome  taxa_vitoria  taxa_escolha  jogos_jogados
34           iron   Akali         46.11          8.92         5864.0
201        bronze  Irelia         48.80          9.76        13986.0
374        silver  Irelia         50.23          9.54        22158.0
555          gold   Akali         50.96          8.04        19386.0
718      platinum  Irelia         51.32          8.91        15138.0
926       emerald   Riven         52.25          5.47         5732.0
1081      diamond   Fiora         51.81          6.64         2787.0
1249       master   Fiora         53.54          6.98         1425.0
1452  grandmaster   Fiora         57.63          5.02          118.0
1548   challenger   Riven         51.49         15.41          134.0

C:\Users\GABRIEL\AppData\Local\Temp\ipykernel_18696\3717737292.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campeoes_favoritos_df['relacao_vitorias_partidas'] = campeoes_favoritos_df['taxa_vitoria'] / media_de_partidas_por_campeao

In [18]:
# desativado para evitar uso de selenium desnecessário
# from selenium import webdriver
# from selenium.webdriver.edge.options import Options
# import time

# import pandas as pd

# edge_options = Options()
# # edge_options.add_argument("--headless")
# edge_options.add_argument("--disable-gpu")
# edge_options.add_argument("--no-sandbox")
# edge_options.add_argument("user-agent=Mozilla/5.0")

# driver = webdriver.Edge(options=edge_options)
# driver.maximize_window()
# url = "https://op.gg/pt/lol/summoners/br/avlye-almir/champions"
# driver.get(url)
# time.sleep(5)  # aguardar carregamento da página

# # Encontrar as linhas da tabela usando Selenium
# champion_rows = driver.find_elements("css selector", "table tbody tr")

# estatisticas = []
# for row in champion_rows:
#     cols = row.find_elements("tag name", "td")
#     if len(cols) > 0:
#         nome = cols[1].text.strip()
#         partidas = cols[2].text.strip()
#         vitorias = cols[3].text.strip()
#         derrotas = cols[4].text.strip()
#         taxa_vitoria = cols[5].text.strip()
#         kda = cols[6].text.strip()
#         estatisticas.append({
#             'nome': nome,
#             'partidas': partidas,
#             'vitorias': vitorias,
#             'derrotas': derrotas,
#             'taxa_vitoria': taxa_vitoria,
#             'kda': kda
#         })
#         print(f"Campeão: {nome}, Partidas: {partidas}, Vitórias: {vitorias}, Derrotas: {derrotas}, Taxa de Vitória: {taxa_vitoria}, KDA: {kda}")

# driver.quit()

# df_opgg = pd.DataFrame(estatisticas)
# df_opgg.to_csv("estatisticas_opgg.csv", index=False, sep=';')

In [19]:
jogador = pd.read_csv("estatisticas_opgg.csv", sep=";")
meta = pd.read_csv("champions.csv", sep=";", dtype={"jogos_jogados": str, "ouro": str, "taxa_vitoria": str, "taxa_escolha": str, "taxa_banimento": str})

# Remover duplicados, não necessário nesse caso
meta = meta.drop_duplicates()

# preencher valores nulos com a mediana
meta = meta.fillna(meta.median(numeric_only=True))

meta['jogos_jogados'] = pd.to_numeric(meta['jogos_jogados'].str.replace('.', ''), errors='coerce')
meta['ouro'] = pd.to_numeric(meta['ouro'].str.replace('.', ''), errors='coerce')
meta['taxa_vitoria'] = pd.to_numeric(meta['taxa_vitoria'].str.replace('%', ''), errors='coerce')
meta['taxa_escolha'] = pd.to_numeric(meta['taxa_escolha'].str.replace('%', ''), errors='coerce')
meta['taxa_banimento'] = pd.to_numeric(meta['taxa_banimento'].str.replace('%', ''), errors='coerce')

# remover NaN devido a conversão
meta = meta.dropna()

meta.to_csv("champions_clean.csv", index=False, sep=';')

# Analisar camepões bons no meta que eu jogo
meta_low_elo = meta[(meta['tier'].isin(['gold', 'platinum']))]

# remover duplicados
meta_low_elo['taxa_vitoria'] = meta_low_elo['taxa_vitoria'].fillna(meta_low_elo['taxa_vitoria'].median())
meta_low_elo['jogos_jogados'] = meta_low_elo['jogos_jogados'].fillna(meta_low_elo['jogos_jogados'].median())

meta_low_elo = jogador[jogador['nome'].isin(meta_low_elo['nome'])]
meta_low_elo['partidas'] = jogador['vitorias'] + jogador['derrotas']

meta_low_elo = meta_low_elo.sort_values(by='taxa_vitoria', ascending=False)

print("Campeões bons no meta que eu jogo:")
print(meta_low_elo[['nome', 'taxa_vitoria', 'partidas']])

Campeões bons no meta que eu jogo:
            nome  taxa_vitoria  partidas
34         Janna           100         1
25         Varus           100         2
19         Yasuo           100         3
14         Garen           100         4
13         Neeko           100         4
4          Vayne            88         8
5           Kayn            75         8
8   Miss Fortune            67         6
10         Riven            60         5
6         Ezreal            57         7
9          Akali            50         6
16         Diana            50         4
2            Lux            50        10
27        Syndra            50         2
31           Vex            50         2
29          Yone            50         2
15          Jhin            50         4
30        Darius            50         2
26          Ahri            50         2
28        Samira            50         2
1           Ashe            47        19
0         Kai'Sa            45        20
7        Morgana            43         7
3        Caitlyn            40        10
11           Mel            40         5
12        Yunara            40         5
22         Sivir            33         3
20        Irelia            33         3
21         Kayle            33         3
18         Poppy            25         4
17         Senna            25         4
23          Sett             0         3
24         Fiora             0         3
32          Gwen             0         2
33         Annie             0         2
35          Pyke             0         1
36       Lee Sin             0         1
37          Ekko             0         1
38          Jinx             0         1
39          Sona             0         1
40          Lulu             0         1
41         Viego             0         1
42         Nilah             0         1
43    Blitzcrank             0         1
44          Shen             0         1

C:\Users\GABRIEL\AppData\Local\Temp\ipykernel_18696\2168813857.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_low_elo['taxa_vitoria'] = meta_low_elo['taxa_vitoria'].fillna(meta_low_elo['taxa_vitoria'].median())
C:\Users\GABRIEL\AppData\Local\Temp\ipykernel_18696\2168813857.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta_low_elo['jogos_jogados'] = meta_low_elo['jogos_jogados'].fillna(meta_low_elo['jogos_jogados'].median())

In [20]:
import numpy as np

# quanto mais partidas, mais a taxa de vitória possuí relevancia
# performance_score pondera taxa de vitória pelo log do número de partidas (mais robusto para poucos jogos)
meta_low_elo = meta_low_elo[meta_low_elo['partidas'] > 5] # filtrar campeões com mais de 5 partidas e evita log 0
meta_low_elo['performance_score'] = meta_low_elo['taxa_vitoria'] * np.log1p(meta_low_elo['partidas'])
meta_low_elo = meta_low_elo.sort_values(by='performance_score', ascending=False)

print("Campeões bons no meta que eu jogo ordenados por performance score:")
print(meta_low_elo[['nome', 'taxa_vitoria', 'partidas', 'performance_score']])

Campeões bons no meta que eu jogo ordenados por performance score:
           nome  taxa_vitoria  partidas  performance_score
4         Vayne            88         8         193.355763
5          Kayn            75         8         164.791843
1          Ashe            47        19         140.799417
0        Kai'Sa            45        20         137.003510
8  Miss Fortune            67         6         130.375980
2           Lux            50        10         119.894764
6        Ezreal            57         7         118.528168
9         Akali            50         6          97.295507
3       Caitlyn            40        10          95.915811
7       Morgana            43         7          89.415986